# Project
PROJECT_NAME=smartsupply
ENVIRONMENT=dev

# PostgreSQL
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=smartsupply
POSTGRES_USER=smartsupply
POSTGRES_PASSWORD=smartsupply_password

# MinIO
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin_password
MINIO_SECURE=false

# MinIO buckets
MINIO_BUCKET_BRONZE=smartsupply-bronze
MINIO_BUCKET_SILVER=smartsupply-silver
MINIO_BUCKET_GOLD=smartsupply-gold

# Spark
SPARK_MASTER_URL=spark://spark-master:7077

# MLflow
MLFLOW_TRACKING_URI=http://mlflow:5000

# API
API_HOST=0.0.0.0
API_PORT=8000

# Dashboard
DASHBOARD_PORT=8501